/* navbar style settings */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#MainNavbar {
    padding: 0;
}

#MainNavbar-ContentContainer {
    justify-content: center;
}

#MainNavbar-Itemlist {
    box-sizing: content-box;
    width: 80%;
    background-color: indigo;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    padding: 0;
    .MainNav-Link {
        color: #b0b0b0;
    }
    :hover {
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        background-color: #0000ff;
        .MainNav-Itemtext{
            color: white;
        }
        .MainNav-Icons, .MainNav-Link, .MainNav-Itemtext{
            background-color: unset;
        }
    }
}

.MainNav-Item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.MainNav-Link {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 800;
    display: flex;
    flex-wrap: nowrap;
}

.MainNav-Icons {
    width: 2.3vw;
}

.MainNav-Itemtext {
    margin: 0;
    font-size: 1.7vw;
    padding-left: 8px;
}
